/* MAIN FORMAT */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-width: 400px;
}

header {
  background-color: #c5ccd9;
  display: flex;
  position: fixed;
  width: 100%;
}

main {
  background: url(../img/nature_grey.jpg) no-repeat;
  background-size: cover;
  flex-grow: 1;
}

footer {
  background-color: #c5ccd9;
  width: 100%;
  bottom: 0px;
  height: 90px;
}

/* MAIN FORMAT END */

/* SEARCH BAR START */

.search {
  font-weight: 900;
  height: 15px;
  padding: 13px;
  border-radius: 15px 0px 0px 15px;
  margin-right: -6px;
  border-width: 3px;
  border-color: #272f40;
}

.submit {
  border-radius: 0px 15px 15px 0px;
  height: 47px;
  vertical-align: -6.8px;
  border-color: #272f40;
  border-width: 3px;
  color: #fff;
  background: #272f40;
}

.submit:hover {
  background: #707070;
}

.search_bar {
  display: inline-block;
  margin: 115px 0px 0px;
  min-width: 240px;
  padding: 20px;
}

/* SEARCH BAR END */

.logo {
  height: 170px;
  width: 300px;
  display: inline-block;
  margin: 20px 60px 20px 20px;
  background: url(../img/rainydays_logo.png) no-repeat;
  background-size: contain;
}

.copyright,
.copyright a {
  text-align: center;
  font-size: 24px;
  color: #272f40;
  text-decoration: none;
}

.copyright a:hover {
  color: #fff;
}

i {
  color: #272f40;
}

i:hover {
  color: #707070;
}

.material-icons.md-36 {
  font-size: 48px;
  vertical-align: -20px;
  padding: 10px;
}

.material-icons.md-24 {
  font-size: 24px;
  vertical-align: -6px;
}

/* NAV START */

ul {
  padding: 0px;
  margin: 0px;
}

.main_nav {
  margin-top: 130px;
}

.bottom_nav {
  margin-top: 115px;
}

.main_nav li,
.bottom_nav li {
  display: inline-block;
  padding: 10px;
}

.main_nav a {
  padding: 10px 30px;
  min-width: 100px;
  background-color: #272f40;
  border-radius: 15px;
  text-align: center;
}

nav a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.active_nav a,
.main_nav a:hover {
  background-color: #707070;
}

#mobile_menu,
.mobile_only {
  display: none;
}

/* NAV END */

/* MEDIUM START */

@media (max-width: 1550px) {
  .logo {
    display: inline-block;
    background: url(../img/rainydays_logo_top.png) no-repeat;
    background-size: contain;
    margin: 20px 20px 0px 20px;
  }

  header {
    display: inline;
    text-align: center;
  }

  .main_nav {
    margin: 0px 0px 0px 20px;
  }

  .bottom_nav {
    margin-top: 0px;
    display: inline-block;
  }

  .search_bar {
    margin: 25px;
    padding: 0px;
  }
}

/* MEDIUM END */

/* MOBILE START */

@media (max-width: 750px) {
  .main_nav {
    text-align: center;
    background: #c5ccd9;
    border-radius: 0px 50px 0px 0px;
    display: none;
    margin: 0px;
    position: fixed;
    bottom: 90px;
  }

  .main_nav li {
    display: block;
    padding: 0px;
  }

  .main_nav a {
    display: block;
    color: #272f40;
    background: #c5ccd9;
    background-size: cover;
    width: 32vw;
    border-radius: 0px;
  }

  .active_nav a {
    background: #707070;
    color: #fff;
  }

  .nav_top,
  .active_nav a {
    border-radius: 0px 25px 0px 0px;
  }

  #mobile_menu:checked ~ .main_nav {
    display: block;
  }

  .bottom_nav {
    width: 100vw;
    min-width: 170px;
    height: auto;
    display: block;
    position: fixed;
    bottom: 15px;
  }

  .bottom_nav li {
    width: 25vw;
    padding: 0px;
  }

  .search_bar {
    display: block;
    margin-top: 0px;
  }

  .mobile_only {
    display: inline-block;
  }

  .copyright {
    display: none;
  }
}

/* MOBILE END */
